body{
    background-color: rgb(129, 129, 255);
}
/*Layout 1*/

.layout{
    
    width: 420px;
    margin: 40px auto;
    padding: 20px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    align-items: center;
}

.yo{
    padding: 50px;
    margin: 20px;
    background-color: rgb(255, 255, 119);
}
.flex{
    display: flex;
}

/*Layout 2*/


.green{
    background-color: aquamarine;
    padding-right: 190px;
}

/*Layout 3*/


 .green2{
    padding-bottom: 180px;
    background-color: green;
 }


 .red{
    padding-left: 200px;
 }

 .center{
    align-items: center;
 }

 .blue2{
    padding-top: 180px;
    background-color: rgb(3, 133, 255);
 }
